@font-face {
  font-family: 'joystix';
  src: url('/fonts/joystix.otf');  
}

body {
  padding          : 10px;
  font-family      : joystix, monospace;
  text-align       : center;
  background-color : black;
}

a {
  color: #00B7FF;
}

#game-container {		
	display: inline-block;
	text-align: center;
}

#shoot-field {
	border  : 3px solid #F0F;
	outline : none;
}

#shoot-field:focus {
	outline: 3px solid white;
}

#shoot-field, #info, #hint, #status {
	font-family      : joystix, monospace !important;
	font-size        : 14px;
	line-height      : 0.90em;/*1em !important;*/
	position         : relative;
	width            : auto;
	height           : auto;
	display          : inline-block; 
	overflow         : hidden;
	background-color : black;
	color            : rgb(0, 255, 0);
	margin           : 0;
}

#info, #hint, #status {
	text-align : left;
	display    : block;
	margin     : 0;
	color      : #F0F;
}

#chatInput {
	background-color : black;
	color            : white;
	border           : 3px solid #0FF;
	outline          : none;
	font-family      : joystix, monospace !important;
	font-size        : 14px;
	display          : block;
	width            : 100%;
	box-sizing       : border-box;
}

#chatInput:focus {
	outline: 3px solid white;
}

#chatMessages {
	text-align  : left;
	color       : white;
	/*border      : 3px solid #0FF;*/
	outline     : none;
	font-family : joystix, monospace !important;
	font-size   : 14px;
	box-sizing  : border-box;
	min-height  : 5em;
	max-height  : 7em;
	overflow    : auto;
}


#menu-container {
	font-size   : 14px;
	color       : white;
	text-align  : left;
	font-family : joystix, monospace !important;
}

#hallOutput {
	font-size   : 14px;
	font-family : joystix, monospace !important;
	word-break  : break-all;
	word-wrap   : break-word;
	/*line-height : 1.5em;*/
	margin      : 0;
}

#commandInput {
	border           : none;
	background-color : black;
	color            : white;
	font-family      : joystix, monospace !important;
	outline          : none;
	width            : 60em;
	max-width        : 80%;
	vertical-align   : top;
	height           : 6em;
	overflow         : hidden;
	resize           : none;
	padding          : 0;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
